body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    background-color: #f3f5f6;
}

a:focus,
a:hover,
a:active {
    text-decoration: none;
}

.text-black {
    color: #333 !important;
}

a.text-black:focus,
a.text-black:hover {
    color: #7b7b7b !important;
}



.list {
    display: block;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
    height: 150px;
    margin-top: 5px;
}

.list-content {
    display: block;
    margin-left: 10%;
    padding: 15px;
    position: relative;
}

.list-meta {
    display: block;
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 100%;
}

.list-meta .list-meta-item {
    display: inline-block;
    margin-right: 18px;
    color: #9A9A9A;
}

.list:after {
    display: block;
    clear: both;
    content: '';
}

.list:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}



@media only screen and (max-width: 991px) {
    .list-header {
        display: block;
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .list-content {
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 15px;
        clear: both;
    }
}